<launch>

<include file="$(find puzzlebot_sim)/launch/robot_setup.launch" />

<!-- * Kalman node -->
<node pkg='puzzlebot_sim' type='new_kalman.py' name='KalmanFilter' output='screen' />

<!-- * Follow walls node -->
<node pkg='puzzlebot_sim' type='FollowWalls.py' name='WallFollower' output='screen' respawn='true' />

<!-- * GoToGoal node-->
<node pkg='puzzlebot_sim' type='Precision_GTG.py' name='GTG_Bug0' output='screen' respawn='true' />

</launch>