<!-- This launch file will read a urdf model and publish it using xacro -->
<launch>
  <!--  Cargar modelo del robot en URDF -->
  <arg name="model" default="$(find puzzlebot_sim)/URDF/puzzlebot_sim.urdf"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  <!-- Lanzar nodo de rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find puzzlebot_sim)/rviz/urdf_rviz_config.rviz"/>  
  <!-- Lanzar nodo de simulación en RVIZ -->
  <node pkg='puzzlebot_sim' type='puzzlebot_kinematic_model.py' name='kinematic_model'/>
  <!-- Lanzar nodo de tf broadcaster -->
  <node pkg='puzzlebot_sim' type='tf_broadcaster.py' name='rviz_marker'/>
  <!-- Lanzar nodo de control basico con texto -->
  <!-- <node pkg='begin_tutorial' type='jesus_robot_control.py' name='yisus_robot_control' output='screen'/> -->
</launch>